<!DOCTYPE html>
{% load static %}
{% load url from future %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Django Application{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="{% static "ico/favicon.png" %}">
  </head>

  <body>
    <div class="container">
      <div class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
           <a class="navbar-brand" href="{% url 'index' %}">Application</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            {% if not user.is_authenticated %}
              <li><a href="{% url 'signin' %}"><i class="icon-signin"></i> Войти</a></li>
              <li><a href="{% url 'signup' %}"><i class="icon-user"></i> Регистрация</a></li>
            {% endif %}
            {% block navbar-actions %}{% endblock %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
              <li><a href="#">{{ user }}</a></li>
              <li><a href="{% url 'signout' %}" title="Завершить сеанс"><i class="icon-signout"></i></a></li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <div class="container">
      <footer>
        <hr>
        <p>&copy; Django Application 2013</p>
      </footer>
    </div>

    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/jquery.form.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/functions.js" %}"></script>

  </body>
</html>
