{% extends 'base.html' %}
{% load static %}
{% load url from future %}
{% load i18n %}

{% block breadcrumbs %}
    {{ block.super }}
{% endblock %}

{% block toolbar %}
    {% if form.instance.pk %}
    <div class="btn-group">
        <a href="{{ store_url }}{{ form.instance.get_absolute_url }}" class="btn btn-default btn-sm" target="_blank"><i class="icon-eye-open"></i> Предпросмотр</a>
    </div>
    <div class="btn-group">
        <button id="delete_button" class="btn btn-danger btn-sm"><i class="icon-trash"></i> Удалить</button>
    </div>
    {% endif %}
{% endblock %}

{% block content %}
    <form class="form-horizontal base-form ajax-form"
    {% if form.is_multipart %} enctype="multipart/form-data" {% endif %}
    method="POST" action="#">
        {% csrf_token %}
        {% block form_block %}{% endblock %}
    </form>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static "css/forms.css" %}" />
{% endblock %}

{% block js_vars %}
    <script type="text/javascript">
        var to_list_url = "{{ to_list_url }}";
        var api_list_endpoint = "{{ api_list_endpoint }}";
        var instance_pk = "{{ form.instance.pk }}";
    </script>

    <script src="{% static "js/forms.js" %}"></script>
{% endblock %}
