{% extends "base.html" %}
{% load base_ff %}


{% block content %}
<div class="row">
    <div class="col-lg-6">
        <form class="form-horizontal" method="POST" action="#" role="form">
            {% csrf_token %}
            {% base_ff form.email form.password %}

            <div class="form-group">
                <div class="col-lg-offset-4 col-lg-8">
                    <input type="submit" class="btn btn-success" value="Войти" />
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}

