{% extends "base.html" %}
{% load base_ff %}

{% block content %}
<div class="row">
    <div class="col-lg-6">
        <form class="form-horizontal" method="POST" action="#">
            {% csrf_token %}
            {% base_ff form.email form.password %}
            {% base_ff form.org_name form.name %}
            {% base_ff form.phone %}

            <div class="form-group">
                <div class="col-lg-8 col-lg-offset-4">
                    <input type="submit" class="btn btn-primary" value="Зарегистрироваться" />
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
