{% load i18n %}
{% load widget_tweaks %}


{% if field == 'image' %}
    <input type="file" name="image" />
{% else %}
    {% for field in fields %}
        <div class="form-group {% if field.errors %}error{% endif %}">
            {# other field #}
            <label class="col-lg-4 control-label" for="{{ field.id_for_label }}">
                {% if field.field.required %}<span style="display: none;">* </span>{%endif%}
                {% if field|field_type != 'booleanfield' %}{{ field.label }}{% endif %}
                {% if field.help_text %}
                <i class="icon-question-sign tooltip-help"
                    data-toggle="tooltip" data-placement="right" data-original-title="{{ field.help_text }}"
                    data-content="{{ field.help_text }}"></i>
                {% endif %}
            </label>

            <div class="col-lg-8">
                {% if field|field_type == 'modelchoicefield' %}
                    {% with fieldClasses="form-control "|add:"choice-widget" %}
                        {{ field|add_class:fieldClasses }}
                    {% endwith %}
                {% elif field|field_type == 'booleanfield' %}
                    <div class="checkbox">
                        <label for="{{ field.id_for_label }}">
                            {{ field }}
                            {{ field.label|safe }}
                        </label>
                    </div>
                {% else %}
                    {{ field|add_class:"form-control" }}
                {% endif %}
                <div class="field-error"></div>
            </div>
        </div>
    {% endfor %}
{% endif %}
