{% extends 'base_forms.html' %}

{% load base_ff %}
{% load i18n %}

{% block breadcrumbs %}
    {{ block.super }}
    <li class="active">{{ subtitle }}</li>
{% endblock %}

{% block form_block %}
    <fieldset>
        <div class="row clearfix document-wrapper">
            <div class="col-lg-6">
                {% base_ff form.title %}
                {% base_ff form.category %}
                {% base_ff form.department %}
                {% base_ff form.section %}
                {% base_ff form.basic %}
            </div>
            <div class="col-lg-6">
                <div class="panel panel-info" style="margin-left:40px;">
                    <div class="panel-heading">{% trans "Вы можете выбрать изображение товара" %}</div>
                        {% if form.image.field.image_url %}
                            <img src="{{ form.image.field.image_url }}" class="product-image" />
                        {% endif %}
                        {% base_ff 'image' %}
                    </div>
                {% base_ff form.code %}
            </div>
            </div>
        </div>
    </fieldset>
{% endblock %}

